
  <tr>
    <td> <%= correction.writing.composition.grade %></td>
    <td> <%= correction.writing.composition.com_title %> </td>
    <td> <%= correction.writing.user.name %> </td>
    <td> <%= link_to(correction.user.name, admin_correction_path(correction)) %> </td>

  </tr>
