<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8 col-centered">
                <h3 class="panel-title">
                    <% if correction.user %>
                      <%= correction.user.name %>批阅如下
                    <% end %>
                </h3>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <div class="trix-content">
            <p> <%=h raw correction.content %></p> </p>
        </div>

    </div>

</div>
